@model Chambers.ViewModels.HomeViewModel
@using Chambers.Custom.Extensions

@using (Html.BeginForm("Story", "Home", FormMethod.Post, new { @class = "col-md-6 form-block", data_toggle = "validator" }))
{
<div>
Left Player
@Html.DropDownList("LeftArbiterID", Model.Characters.ToSelectList(c => c.Name, c => c.CharacterId.ToString(), "--"))<br/>

Affliction
@Html.DropDownList("LeftArbiterAfflictionID", Model.ArbiterAfflictions.ToSelectList(a => a.Name, a => a.AfflicationId.ToString(), "--"))<br/>
</div>

<div>
Right Player
@Html.DropDownList("RightArbiterID", Model.Characters.ToSelectList(c => c.Name, c => c.CharacterId.ToString(), "--"))

Affliction
@Html.DropDownList("RightArbiterAfflictionID", Model.ArbiterAfflictions.ToSelectList(a => a.Name, a => a.AfflicationId.ToString(), "--"))<br />
</div>


<div>
Left Victim
@Html.DropDownList("LeftVictimID", Model.Characters.ToSelectList(c => c.Name, c => c.CharacterId.ToString(), "--"))

Affliction
@Html.DropDownList("LeftVictimAfflictionID", Model.VictimAfflictions.ToSelectList(a => a.Name, a => a.AfflicationId.ToString(), "--"))<br />
</div>
    <button type="submit">Submit</button>
}
